body{
	text-align: center;
	height: 100%;
}

.bgImg {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	min-width: 1600px;
	min-height: 1000px;
}

.logCon {
	color: #FFFFFF;
	margin-top: 40px;
}

.line {
}

 .content{
	width: 50%;
	height: 60%;
	min-width: 720px;
	min-height: 405px;
	max-width: 880px;
	max-height: 495px;
	/* overflow-x: auto; */
	position: absolute;
	/* right: 24%; */
	background: #0f1a1494;
	left: 28%;
	top: 40%;
	margin: -150px 0 0 -200px;
	/* margin-top: 10%; */
	border-radius: 15px;
	box-shadow: 1px 1px 1px 1px darkslategrey;
}

.contentL{
	width: 45%;
	height: 100%;
	float: left;
	position: relative;
	filter:alpha(Opacity=85);-moz-opacity:0.85;opacity: 0.85; 
	background-color: #6495ED;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.logolabel{
	width: 100px;
	height: 100px;
	color: white;
	float: left;
	font-size: 20px;
	margin-left: 2%;
}

.emptydiv1{
	width: 100%;
	height: 90px;
	background: #6495ED;
	filter:alpha(Opacity=10);-moz-opacity:0.1;opacity: 0.1; 
}

.welh1{
	color: white;
	font-family: "黑体";
	font-size: 30px;
}

.welh4{
	color: white;
	font-family: "仿宋";
	font-size: 15px;
}

.signinBut {
	background-color: #F8F8FF;
	border: 1px #333333;
	padding: 12px 0px;
	font-size: 16px;
	color: blue;
	border-radius: 20px;
	width: 55%;
}

.welbot{
	margin-top: 10px;
}

.welimg{
	width: 15px;
	height: 15px;
	display:inline
}

.welh5{
	color: white;
	font-family: "仿宋";
	font-size: 17px;
}

.contentR{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 55%;
	height: 100%;
	float: right;
	position: relative;
	background-color: white;
}

.emptydiv2{
	width: 100%;
	height: 60px;
	background: white;
	filter:alpha(Opacity=10);-moz-opacity:0.1;opacity: 0.1; 
}

.topic{
	color: royalblue;
	font-family: "黑体";
	font-size: 30px;
}

.emptydiv3{
	width: 100%;
	height: 30px;
	background: white;
}

.icon{
	width: 25px;
	height: 25px;
	position:relative;
	left:0;
	right:0;
	top:13px;
	bottom:0;
	margin:auto;
}

 .bt_input {
	border-radius: 7px;
	border: none;
	padding: 11px 5px;
	width: 55%;
	color: #333;
	margin-bottom: 20px;
	background-color: ghostwhite;
}

.checkbot{
	color: #333333;
	font-size: 12px;
}

.checkbox1{
	width: 12px;
	height: 12px;
}

 .logingBut {
	margin-top: -15px;
	background: #6495ED;
	border: none;
	font-size: 16px;
	padding: 12px 0px;
	color: #edefee;
	border-radius: 20px;
	width: 55%;
}

 .logCon span {
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	display:inline-block;
	width:90px;
}

 .field{
	border: 0px;
}
